<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='login.css') }}">
</head>
<body>
    <h2>Login Form</h2>
    <div class="navbar">
        <div class="bitconnect">
            <nav>
                <ul class="primary-nav">
                    <li class="current"><a href="#">Home</a></li>
                    <li><a href="#">Device Description</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#" method="POST">
			<h1>Sign in</h1>
			<input type="email" name="email_login" id="email_login" placeholder="Email" />
			<input type="password" name="email_login" id="password_login" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			
			<button id="btn_signin">Sign In</button>
			<br>
			<br>
			<a href="{{ url_for('registration') }}" class="button">
				Registration
			</a>
			</form>
			
		</form>
		
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<div class="form-container sign-up-container"></div>
				<form action="#" medthod="post"></form>
					<h1>Sign Up Today!</h1>
					<p>Connect your account to the device and mobile application</p>
					<h1>Create Account</h1>
					<input type="name" name="name_signup" id="name" placeholder="Name" />
					<input type="email" name="email_signup" id="email" placeholder="Email" />
					<input type="password" name="password_signup" id="password" placeholder="Password" />
					<button class="ghost" id="signUp">Sign Up</button>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>
</dy>
</html>
