<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='regpage.css') }}">
    <title>Registration</title>
</head>
<body>
    <form action="#" method="post">
        <h2>Sign Up</h2>
            <p>
                  <label for="FName" class="floatLabel">First Name</label>
                  <input id="FName" name="Name" type="text">
              </p>
              <p>
                  <label for="LName" class="floatLabel">Last Name</label>
                  <input id="LName" name="Email" type="text">
              </p>
              <p>
                  <label for="Username" class="floatLabel">Username</label>
                  <input id="Username" name="Email" type="text">
              </p>
              <p>
                  <label for="password" class="floatLabel">Password</label>
                  <input id="password" name="password" type="password">
                  <span>Enter a password longer than 8 characters</span>
              </p>
              <p>
                  <input type="submit" value="Create My Account" id="submit">
              </p>
          </form>
</body>
</html>